<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h2>USERS</h2>
            <h4>All Users - GET - /users</h4>
            <h4>Single User - GET - /users/:id</h4>
            <h4>Register User - POST - /users</h4>
            <h4>Login User - PATCH - /users</h4>
            <h4>Edit User - PUT - /users/:id</4>
            <h4>Delete User - DELETE - /users/:id</h4>
        </div>
        <div class="row">
            <h2>ALBUMS</h2>
            <h4>All Albums - GET - /albums</h4>
            <h4>Single Album - GET - /albums/:id</h4>
            <h4>Add Album - POST - /albums</h4>
            <h4>Album User - PUT - /albums/:id</h4>
            <h4>Delete Album - DELETE - /albums/:id</h4>
        </div>
        <div class="row">
            <h2>CART</h2>
            <h4>All Cart - GET - /users/:id/cart</h4>
            <h4>Add To Cart - POST - /users/:id/cart</h4>
            <h4>Delete All Cart - DELETE - /users/:id/cart</h4>
            <h4>Delete Single Cart - DELETE - /users/:id/cart/:cartId</h4>
        </div>
    </div>
</body>

</html>